
{%extends "home.html"%}

{% block content %}

<h3 class="py-3 text-center">Project Details</h3>
<div class="container col-md-5 col-lg-4 text-center">
    <form action="{{url_for('add_project')}}" method="POST">
        {{proj_form.hidden_tag()}}
        {{proj_form.csrf_token()}}
        {{proj_form.project_name.label(class="form-label")}}{{proj_form.project_name(class="form-control")}}
        {{proj_form.description.label(class="form-label")}}{{proj_form.description(class="form-control")}}
        {{proj_form.completed(class="")}}{{proj_form.completed.label(class="p-2")}}<br>
        {{proj_form.team_id.label(class="form-label")}}{{proj_form.team_id(class="form-control")}}
        {{proj_form.submit(class="btn btn-primary my-4")}}
    </form>
</div>
{% endblock %}